
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* Then add your other CSS rules */

:root {
  font-family: "Roboto", sans-serif;
  --primary-color: #FDF8EE;
  /* Custom CSS variable */
  --secondary-color: #4D2C5E;
  --accent-100: #FEE2E2;
  --accent-500: #EF4444;
  --accent-900: #991B1B;
  /* line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* Hide overflow but don't allow manual scrolling */
.overflow-x-hidden {
  overflow-x: hidden;
}

/* Prevent line wrapping */
.whitespace-nowrap {
  white-space: nowrap;
}

/* Ensure images have transparent backgrounds */
.carousel-image {
  background: transparent;
}

body {
  font-family: "Roboto", sans-serif;
}
body #root{
  overflow-x: hidden;
}
.MentorshipModal::-webkit-scrollbar{
  display: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.react-multi-carousel-dot--active button {
  width: 25px !important;
  border-radius: 5px !important;
  background: #4d2cfe !important;
  border-color: #4d2cfe !important;
}

.carousel-container {
  padding-bottom: 4rem !important;
}

.react-multi-carousel-dot-list {
  bottom: 1rem !important;
}
.react-multi-carousel-track {
  align-items: center !important;
  padding-bottom: 10px !important;
}
input[type="checkbox"]:checked {
  background-color: #FF7426; /* Your orange color */
  border-color: #FF7426;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */

/* button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  } */
}